﻿<ion-nav-bar>
    <ion-nav-back-button>
    </ion-nav-back-button>
</ion-nav-bar>
<ion-view view-title="Edit Profile">
    <ion-content class="has-header padding" ng-controller="editprofileCtrl">
        <ion-refresher on-refresh="refresh(true)" spinner="android"></ion-refresher>
        <div class="list" style="text-align:center;border:none">
            <div class="item item-body">
                <img class="full-image" style="width:100%;height:100%;border-radius:50%" id="profileImage" src="{{image.consumerImageUrl}}" fallback-src="user-male.png" ng-click="updateImage()">
            </div>
        </div>
       <!-- <div class="list">
            <label class="item item-input">
                <input type="text" placeholder="Name" ng-model="profile.name" ng-change="profile.name = profile.name | CamelCase" />
            </label>
        </div>
        <div class="list list-inset">
            <label class="item item-input">
                <input type="text" placeholder="Date of Birth (yyyy-MM-dd)" ng-model="profile.date_of_birth" ng-click="getDate()">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="Street" ng-model="profile.address">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="Phone Number" ng-model="profile.phoneNumber">
            </label>
            <label class="item item-input">
                <input type="number" placeholder="Zipcode" ng-model="profile.zip_code">
            </label>
        </div>-->

        <div class="list">
            <label class="item item-input item-stacked-label">
                <span class="input-label">Name</span>
                <input type="text" placeholder="Name" ng-model="profile.name" ng-change="profile.name = profile.name | CamelCase">
            </label>
            <div class="button-bar" style="border:#ddd">
                <ion-radio class="button item item-input" style="border-color:#ddd;line-height:18px;" ng-model="profile.gender" ng-value="'M'">Male</ion-radio>
                <ion-radio class="button item item-input" style="border-color:#ddd;line-height:18px;" ng-model="profile.gender" ng-value="'F'">Female</ion-radio>
            </div>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Phone No</span>
                <input type="text" placeholder="Phone Number" ng-model="profile.phoneNumber">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Date of Birth</span>
                <input type="text" placeholder="Date of Birth (dd-MM-yyyy)" ng-model="profile.date_of_birth" ng-click="getDate()">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Email</span>
                <input type="text" placeholder="Email" ng-model="profile.mail_id">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Address</span>
                <input type="text" placeholder="Address" ng-model="profile.address">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Zipcode</span>
                <input type="text" placeholder="Zipcode" ng-model="profile.zip_code">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Change Password if required</span>
                <input type="password" placeholder="Password" ng-model="profile.password">
            </label>

        </div>


        <button class="button button-block button-assertive" ng-click="updateProfile()">
            SAVE
        </button>
        <br />
    </ion-content>
</ion-view>




