﻿<ion-nav-bar>
    <ion-nav-back-button>
    </ion-nav-back-button>
</ion-nav-bar>
<ion-view view-title="Reminder List">
    <ion-content class="has-header padding">
        <ion-refresher on-refresh="refresh(true)" spinner="android"></ion-refresher>
        <div ng-if="wishlist.length == 0" style="text-align:center">
            <img src="reminders-icon.png" style="padding-top: 55%;width: 24%;" />
            <h3>No items</h3>
            <a class="button button-assertive" href="#/app/productSearch">Start adding items</a>
        </div>
        <div class="list card item-text-wrap" ng-if="wishlist.length != 0" style="padding:1px !important">
            <div class="item" style="padding:1px !important" ng-repeat="item in wishlist" ng-click="onSelect($event,item)" ng-class="item.class">
                <div class="row" style="padding:0" >
                    <div class="col col-25 imgcontainer">
                        <img fallback-src="bag-item-1.png" ng-src="http://{{SERVER}}/product/image/{{item.id}}/1" />
                    </div>
                    <div class="col col-75">
                        <h3>{{item.name | uppercase}}</h3>
                        <p>{{item.brand | uppercase}}</p>
                        <div style="padding:1px;font-size: larger;color:#ef473a;">
                            <p><b>&#8377;</b>{{item.toconsumer.mrp}}</p>
                        </div>
                        <input type="number" style="border-radius: 6px;position: absolute;right: 13%;bottom: 10%;width: 3em;" class="qty-input"
                               ng-model="item.qty"
                               ng-change="qtyChanged(item,0)"
                               ng-click="$event.stopPropagation();" />
                        <i class="icon ion-ios-minus-outline"
                           style="position: absolute;right: 28%;font-size: 2em;bottom: 10%;"
                           ng-click="qtyChanged(item,-1);$event.stopPropagation();">
                        </i>
                        <i class="icon ion-ios-plus-outline"
                           style="position: absolute;right: 3%;font-size: 2em;bottom: 10%;"
                           ng-click="qtyChanged(item,1);$event.stopPropagation();">
                        </i>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
    <div class="bar bar-footer bar-assertive" ng-if="wishlist.length != 0">
        <button class="button icon ion-navicon-round pull-left" ng-click="openPopover($event)">Options</button>
    </div>
</ion-view>

<script id="remainder-option-popover.html" type="text/ng-template">
    <ion-popover-view>
        <ion-content>
            <div class="list">
                <a class="item item-icon-left" ng-click="closePopover();addAllToCart()">
                    <i class="icon ion-reply-all"></i>
                    Add all to Cart
                </a>
                <a class="item item-icon-left" ng-click="closePopover();addSelectedItemsTOCart()">
                    <i class="icon ion-reply"></i>
                    Add selected to Cart
                </a>
                <a class="item item-icon-left" ng-click="closePopover();removeSelectedItems()">
                    <i class="icon ion-trash-b"></i>
                    Remove selected
                </a>
                <a class="item item-icon-left" ng-click="closePopover();selectAll();">
                    <i class="icon ion-checkmark-circled"></i>
                    Select all
                </a>
                <a class="item item-icon-left" ng-click="closePopover();deselectAll()">
                    <i class="icon ion-close-circled"></i>
                    Deselect all
                </a>
            </div>
        </ion-content>
    </ion-popover-view>
</script>
<style>
    .selected {
        background-color: #D9D9D9;
    }
</style>