﻿<ion-nav-bar>
    <ion-nav-back-button>
    </ion-nav-back-button>
</ion-nav-bar>
<ion-view view-title="Feedback">
    <ion-content class="padding">
        <ion-refresher on-refresh="refresh(true)" spinner="android"></ion-refresher>
        <form ng-submit="submitfeedback()">
            <textarea placeholder="Share your feedback with us" rows="10" cols="80" maxlength="300" ng-model="form.feedbackText"></textarea>
            <button class="button button-block button-assertive" ng-click="submit()">
                Submit Feedback
            </button>
        </form>
    </ion-content>
</ion-view>