﻿
<ion-view>
    <div class="bar bar-header bar-assertive">
        <h1 class="title">Category</h1>
    </div>
    <ion-content class="has-header" scroll="false">
        <ion-scroll direction="x" ng-if="view.category">
            <div class="row category">
                <div class="col" ng-repeat="cat in category" ng-click="loadSegments(cat,$event)">
                    {{cat.name}}
                </div>
            </div>
        </ion-scroll>
        <ion-scroll direction="x" ng-if="view.segments">
            <div class="row category">
                <div class="col" ng-repeat="seg in segments" ng-click="loadSubSegments(seg,$event)">
                    {{seg.name}}
                </div>
            </div>
        </ion-scroll>
        <ion-scroll direction="x" ng-if="view.subsegments">
            <div class="row category">
                <div class="col"  ng-repeat="subseg in subsegments" ng-click="loadProducts(subseg,$event)">
                    {{subseg.name}}
                </div>
            </div>
        </ion-scroll>
        <ion-scroll direction="y" style="height:67%" ng-if="view.products">
            <div class="list">
                <div class="item" style="padding:1px !important" ng-repeat="item in products track by $index">
                    <div class="row" style="padding:0">
                        <div class="col col-25 imgcontainer" ng-click="onProductClick(item)">
                            <img fallback-src="bag-item-1.png" ng-src="http://{{SERVER}}/product/image/{{item.id}}/1" />
                        </div>
                        <div class="col col-75">
                            <h3>{{item.name | uppercase}}</h3>
                            <p>{{item.brand | uppercase}}</p>
                            <p><b>&#8377;</b>{{item.mrp}} per {{item.unitOfMeasure}}</p>

                            <i class="icon "
                               style="position: absolute;top: 8%;right:2%;font-size: 2em;"
                               ng-class="isFavourite(item.id) === true ? 'ion-ios-timer':'ion-ios-timer-outline'"
                               ng-click="toggleFavourite(item)">
                            </i>
                            <input type="number" style="border-radius: 6px;position: absolute;right: 13%;bottom: 10%;width: 3em;" class="qty-input"
                                   ng-model="item.qty" ng-init="item.qty = returnQty(item)"
                                   ng-change="qtyChanged(item,0)" />
                            <i class="icon ion-ios-minus-outline"
                               style="position: absolute;right: 28%;font-size: 2em;bottom: 10%;"
                               ng-click="qtyChanged(item,-1)">
                            </i>
                            <i class="icon ion-ios-plus-outline"
                               style="position: absolute;right: 3%;font-size: 2em;bottom: 10%;"
                               ng-click="qtyChanged(item,1)">
                            </i>
                        </div>
                    </div>
                </div>
            </div>
        </ion-scroll>
</ion-content>
</ion-view>
