﻿<ion-view view-title="Order Detail">
    <ion-header-bar class="bar-header bar-dark">
        <div class="buttons">
            <button class="button button-clear icon ion-bag"></button>
        </div>
        <div class="title">Order(#{{orderDetail.orderId}}) Detail</div>
    </ion-header-bar>
    <ion-content class="padding has-footer">
        <ion-refresher on-refresh="refresh(true)" spinner="android"></ion-refresher>
       <div class="list card">
           <a class="item" href="#">
               <span class="item-note">
                   <h2 ng-class="orderDetail.status">{{orderDetail.status}}</h2>
               </span>
               <h2 style="color:red">ORDER {{orderDetail.orderId}}</h2>
               <p>{{orderDetail.storeName}}</p>
               <p>{{orderDetail.orderDate | date:'medium'}}</p>
               <h2>Indicative Total: <b>&#8377;</b> {{grandTotal|number:2}}</h2>
           </a>
       </div>
        
        <div class="list">
            <a href="#" class="item item-text-wrap" ng-repeat="item in orderDetail.orderItems">
                <span class="item-note">
                    {{item.quantity | number:0}}
                </span>
                <h3>{{item.productName}}</h3>
                <p><b>&#8377;</b> {{item.productPrice | number: 2}}</p>
            </a>
        </div>
    </ion-content>

    <div class="bar bar-footer bar-stable">
        <button class="button button-assertive icon ion-forward pull-left" ng-click="addAllToCart()">Add all to Cart</button>
        <button class="button button-assertive icon ion-checkmark-circled"
                ng-hide="orderDetail.status == 'RECEIVED' || orderDetail.status == 'DELIVERED' || orderDetail.status == 'CANCELLED'"
                ng-click="received()">
            Recieved
        </button>
        <button class="button button-assertive icon ion-clipboard pull-right" ng-click="saveAsTemplate()">Save as Template</button>
    </div>
</ion-view>
<style type="text/css">
    .NEW {
        color: rgb(8, 154, 149);
        text-align: right;
    }

    .DELIVERED {
        color: coral;
        text-align: right;
    }

    .PROCESSING {
        color: blueviolet;
        text-align: right;
    }

    .RECEIVED {
        color: green;
        text-align: right;
    }
</style>