﻿<ion-side-menus style="background-color:transparent;">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-assertive">
            <ion-nav-back-button></ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button menu-toggle="left" class="button button-icon icon ion-navicon-round"></button>
                <img style="height: 2.6em;border: solid;border-width: 1px;border-radius: 5px;" src="eepl.png" ng-click="goHome()" />
            </ion-nav-buttons>
            <ion-nav-buttons side="secondary">
                <a style="color: white;" class="button button-icon icon ion-ios-cart parent" href="#/app/addToCart">
                    <span class="badge badge-assertive child"
                          style="left:17px;top:-4px"
                          ng-if="getCartListCount() > 0">
                        {{getCartListCount()}}
                    </span>
                </a>
                <button style="color: white;" ng-click="openPopover($event)" class="button button-icon icon ion-android-more-vertical"></button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view animation="slide-left-right"></ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu side="left">
        <header class="bar bar-header bar-assertive">
            <h1 class="title">Menu</h1>
        </header>
        <ion-content class="has-header has-footer">
            <ion-list>
                <div ng-repeat="cat in category">
                    <ion-item class="item-stable item-icon-right"
                              ng-click="toggleGroup(cat);loadSegments(cat)"
                              ng-class="{active:isGroupShown(cat)}">
                        <span style="color:#111111">
                            {{cat.name}}
                        </span>
                        <i class="icon fa " ng-class="isGroupShown(cat) ? 'fa-angle-up' : 'fa-angle-down'"></i>
                    </ion-item>
                    <div ng-repeat="seg in cat.segments">
                        <ion-item class="item-accordion item-icon-right"
                                  ng-click="toggleSeg(seg);loadSubSegments(seg)"
                                  ng-show="isGroupShown(cat)"
                                  ng-class="{active:isSegShown(seg)}">
                            <span>{{seg.name}}</span>
                            <i class="icon fa " aria-hidden="true" ng-class="isSegShown(seg) ? 'fa-angle-double-up' : 'fa-angle-double-down'"></i>
                        </ion-item>
                        <ion-item menu-close class="item-accordion"
                                  ng-repeat="subSeg in seg.subsegments"
                                  ng-show="isSegShown(seg) && isGroupShown(cat)"
                                  ng-click="getProducts(cat.id,seg.id,subSeg.id,subSeg.name)">
                            <span>{{subSeg.name}}</span>
                        </ion-item>
                    </div>
                </div>
            </ion-list>
            <div ng-if="category.length == 0" style="padding:5px;text-align:center;">
                No categories listed for current retailer
            </div>
        </ion-content>
        <bar-footer class="bar bar-footer" style="z-index:10">
            <a menu-close href="#/app/retailerprofile">
                <img fallback-src="not-found.png" style="height: 2.6em;border: solid;border-width: 1px;border-radius: 5px;" src="{{retailerImageUrl}}" />
                <h1 class="title" style="left:27px">Retailer: <span style="color:blueviolet">{{defaultRetailer | uppercase}}</span></h1> </a>
</bar-footer>
    </ion-side-menu>
</ion-side-menus>

<script id="my-popover.html" type="text/ng-template">
    <ion-popover-view>
        <ion-content class="contendheight">
            <div class="list">
                <a class="item item-icon-left" ng-click="closePopover()" href="#/app/profile">
                    <i class="icon ion-person"></i>
                    View Profile
                </a>
                <a class="item item-icon-left" href="#/app/retailers" ng-click="closePopover()">
                    <i class="icon ion-android-person-add"></i>
                    Change Retailer
                </a>
                <a class="item item-icon-left" href="#/app/changeLocation" ng-click="closePopover()">
                    <i class="icon ion-android-locate"></i>
                    Change Location
                </a>
                <a class="item item-icon-left" href="#/app/settings" ng-click="closePopover()">
                    <i class="icon ion-ios-gear"></i>
                    Settings
                </a>
                <a class="item item-icon-left" ng-click="closePopover();exitApp()">
                    <i class="icon ion-android-exit"></i>
                    Exit
                </a>
            </div>
        </ion-content>
    </ion-popover-view>
</script>
<style type="text/css">

</style>
