﻿<ion-nav-bar class="bar-positive">
    <ion-nav-back-button class="button-clear">
        <i class="ion-arrow-left-c"></i> Back
    </ion-nav-back-button>
</ion-nav-bar>
<ion-view view-title="Orders">
    <ion-header-bar class="bar-header bar-dark">
        <div class="buttons">
            <button class="button button-clear icon ion-bag"></button>
        </div>
        <div class="title">Orders</div>
    </ion-header-bar>
    <ion-content class="padding">
        <ion-refresher on-refresh="refresh(true)" spinner="android"></ion-refresher>
        <div ng-if="view.noOrders" style="text-align:center">
            <img src="orders.png" style="padding-top: 55%;width: 24%;" />
            <h3>No Orders</h3>
            <a class="button button-assertive" href="#/app/productSearch">Start adding items</a>
        </div>
        <div class="list">
            <a class="item item-thumbnail-left" href="#" style="padding-left: 73px;min-height: 60px;"
               ng-repeat="order in ordersList | orderBy :'date':'reverse'"
               ng-click="showOrderItems(order)">
                <img src="list.png" style="top: 7px;left: 6px;max-width: 60px;max-height: 60px;">
                <span class="item-note">
                    <h2 ng-class="order.status">{{order.status}}</h2>
                </span>
                <h2>ORDER {{order.orderId}}</h2>
                <span class="item-note">
                    <h2 style="color:black"><b>&#8377;</b> {{order.total | number:2}}</h2>
                </span>
                <p>{{order.storeName}}</p>
                <p>{{order.orderDate}}</p>
                
            </a>
        </div>
    </ion-content>
</ion-view>
<style type="text/css">
    .NEW {
        color: rgb(8, 154, 149);
        text-align: right;
    }

    .DELIVERED {
        color: coral;
        text-align: right;
    }

    .PROCESSING {
        color: blueviolet;
        text-align: right;
    }
    .RECEIVED {
        color: green;
        text-align: right;
    }
</style>