﻿<ion-view view-title="Profile image upload">
    <ion-content>
        <div class="list">
            <div class="item item-body" ng-click="uploadImage()">
                <img class="full-image" src="{{image.consumerImageUrl}}" fallback-src="user-male.png" style="width:100%;height:100%;">
            </div>
        </div>
        <div class="button button-light button-block" ng-click="uploadImage()">
            Select image
        </div>
        <a class="button button-assertive button-block" href="#/app/products">
            Skip>>
        </a>
    </ion-content>
</ion-view>