﻿<ion-view view-title="Template Detail">
    <ion-content>
        <div class="list">
            <div class="item item-divider">
                Items - {{template.name}}
            </div>
            <a class="item item-icon-left" ng-repeat="item in template.items">
                <i class="icon ion-android-done"></i>
                {{item.productName}}
                <span class="item-note">
                    {{item.quantity}}
                </span>
            </a>
        </div>
    </ion-content>
    <div class="bar bar-footer bar-stable">
        <button class="button button-assertive icon ion-forward pull-right" ng-click="addAllToCart()">Add all to Cart</button>
    </div>
</ion-view>