﻿<ion-view view-title="Retailer Selection">
    <ion-nav-bar class="bar-assertive">
        <ion-nav-back-button>
        </ion-nav-back-button>
    </ion-nav-bar>
    <ion-header-bar class="bar-header bar-assertive">
    </ion-header-bar>
    <ion-header-bar class="bar bar-assertive bar-subheader item-input-inset">
        <label class="item-input-wrapper">
            <i class="icon ion-ios7-search placeholder-icon"></i>
            <input type="search" placeholder="Pin Code/Area/Retailer name" ng-model="data.searchkey" ng-change="searchSuggestion()" autocorrect="off">
        </label>
    </ion-header-bar>
    <ion-content class="padding">
        <div ng-show="data.retailers.length == 0 && data.suggestions.length ==0">
            <h3 style="width:100%;text-align:center;">Start searching for Retailers</h3>
        </div>
        <div class="list" ng-show="data.isSuggestionShown">
            <div class="item" ng-repeat="sug in data.suggestions">
                <div ng-repeat="(h,v) in sug" ng-click="search(h,v)">
                    {{v}}
                </div>
            </div>
        </div>
        <div class="card list" ng-show="data.isSearchResultShown">
            <ion-radio class="item item-thumbnail-left {{getStyle(ret)}} item-text-wrap" ng-model="data.choice" value="{{ret.id}}" ng-repeat="ret in data.retailers" ng-class="data.choice != ret.id? 'deselected' :'selected'">
                <img src="http://{{SERVER}}/retailer/image/{{ret.id}}" fallback-src="shop.png">
                <h2 style="color:#EF473A;"><strong>{{ret.storename | uppercase}}</strong></h2>
                <h2>{{ret.storeaddress.street}}</h2>
                <h2>{{ret.storeaddress.city.name}} - {{ret.storeaddress.zipCode}}</h2>
                <p></p>
                <div ng-hide="data.choice != ret.id">
                    <h3>Name  : {{ret.name}}</h3>
                    <h3>Phone : {{ret.retailerPhone[0].phoneNumber}}</h3>
                </div>
            </ion-radio>
        </div>
    </ion-content>
    <button ng-if="data.choice" class="button button-assertive button-block" ng-click="setAsDefaultRetailer((data.retailers | filter:{id:data.choice})[0])" style="position: absolute;bottom: -2%;z-index: 10;">
        Set {{ (data.retailers | filter:{id:data.choice})[0].storename | uppercase }} as default Retailer
    </button>
</ion-view>


<style type="text/css">
    .GREY {
        font-family: Arial, Helvetica, sans-serif;
        font-style: oblique;
        color: gray;
        background-attachment: fixed;
        background-size: auto;
        background-size: contain;
        background-color: grey;
    }

    .BLUE {
        background-color: blue;
    }
     .selected {
        box-shadow: 5px 2px 44px #BFBFBF;
        margin: -5px;
        z-index: 3;
        -moz-transition: 0.5s;
        -o-transition: 0.5s;
        -webkit-transition: 0.5s;
        transition: 0.5s;
    }

    .deselected {
        -moz-transition: 0.5s;
        -o-transition: 0.5s;
        -webkit-transition: 0.5s;
        transition: 0.5s;
    }
</style>