﻿<ion-view view-title="Search Products">
    <div class="bar bar-subheader bar-assertive item-input-inset">
        <label class="item-input-wrapper">
            <i class="icon ion-ios-search placeholder-icon"></i>
            <input type="search" placeholder="Search" ng-change="suggestions()" ng-model="data.searchkey" autofocus>
        </label>
    </div>
    <ion-content class="has-header has-subheader">
        <!--<div class="loading">
            <i class="icon ion-loop"></i>
        </div>-->
        <div class="list" ng-if="data.showSearchHistory">
            <div class="item" ng-repeat="searchItem in searchHistory | limitTo:-10" ng-click="data.searchkey = searchItem.key; suggestions()">
                {{searchItem.key}}
            </div>
        </div>
        <div class="list" ng-if="data.showSuggestion">
            <!--<div class="item matched-suggestion item-icon-left" ng-if="data.searchkey != ''" ng-click="searchAll()">
                <i class="icon ion-search"></i>
                {{data.searchkey}}
            </div>-->
            <div class="item matched-subsegment item-icon-left" ng-repeat="prd in data.suggestions.insubsegments" ng-click="searchSubsegment(prd)">
                <i class="icon ion-search"></i>
                in <span style="color:crimson"><b>{{prd.name}}</b></span>
            </div>
            <div class="item subsegment item-icon-left" ng-repeat="subseg in data.suggestions.subsegments" ng-click="searchSubsegment(subseg)">
                <i class="icon ion-search"></i>
                {{subseg.name}}
            </div>
            <div class="item segment item-icon-left" ng-repeat="seg in data.suggestions.segments" ng-click="searchSegment(seg)">
                <i class="icon ion-search"></i>
                {{seg.name}}
            </div>
            <div class="item category item-icon-left" ng-repeat="cat in data.suggestions.categories" ng-click="searchCategory(cat)">
                <i class="icon ion-search"></i>
                {{cat.name}}
            </div>
        </div>
        <div class="list card" ng-if="data.showProducts" style="padding:1px !important">
            <div class="item" style="padding:1px !important" ng-repeat="item in data.Products track by $index">
                <div class="row" style="padding:0">
                    <div class="col col-25 imgcontainer" ng-click="onProductClick(item)">
                        <img fallback-src="bag-item-1.png" ng-src="http://{{SERVER}}/product/image/{{item.id}}/1" />
                    </div>
                    <div class="col col-75">
                        <div class="row" style="padding:1px">
                            <div class="col col-80 item-text-wrap" style="padding:1px" ng-click="onProductClick(item)">
                                <h3>{{item.name | uppercase}}</h3>
                            </div>
                            <div class="col col-20" style="padding:1px;font-size:xx-large">
                                <i class="icon "
                                   style="float:right;"
                                   ng-class="isFavourite(item.id) === true ? 'ion-ios-timer':'ion-ios-timer-outline'"
                                   ng-click="toggleFavourite(item);$event.stopPropagation();">
                                </i>
                            </div>
                        </div>
                        <div class="row" style="padding:1px">
                            <div class="col col-80" style="padding:1px" ng-click="onProductClick(item)">
                                <span style="font-size:smaller">{{item.brand}}</span>
                            </div>
                        </div>
                        <div class="row" style="padding:1px">
                            <div class="col col-40" style="padding:1px;font-size: larger;color:#ef473a;" ng-click="onProductClick(item)">
                                <p><b>&#8377;</b>{{item.toconsumer.mrp}}</p>
                            </div>
                            <div class="col col-60" style="padding:1px">
                                <div style="float:right;">
                                    <i class="icon ion-ios-minus-outline"
                                       style="font-size: 2em;display:inline;"
                                       ng-click="qtyChanged(item,-1);$event.stopPropagation();">
                                    </i>
                                    <input type="number" class="qty-input"
                                           ng-model="item.qty"
                                           ng-change="qtyChanged(item,0)"
                                           ng-click="$event.stopPropagation();" />
                                    <i class="icon ion-ios-plus-outline"
                                       style="font-size: 2em;display:inline;"
                                       ng-click="qtyChanged(item,1);$event.stopPropagation();">
                                    </i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
<style>
    .item {
        border-left: 0;
        border-right: 0;
        padding-top: 0.7em;
        padding-bottom: 0.7em;
    }

        .item.matched-subsegment {
            padding-left: 26%;
        }

        .item.subsegment {
            color: crimson;
        }

        .item.segment {
            color: #4394d0;
        }

        .item.category {
            color: #557413;
        }
</style>