﻿<ion-nav-bar>
    <ion-nav-back-button>
    </ion-nav-back-button>
</ion-nav-bar>
<ion-view view-title="Banner Details">
    <ion-content class="has-header padding">
        <ion-refresher on-refresh="refresh(true)" spinner="android"></ion-refresher>
        <div class="item item-body">
            <img class="full-image" fallback-src="not-found.png" ng-src="{{id}}">
            
        </div>
    </ion-content>
</ion-view>