﻿<ion-view view-title="Products">
    <ion-content class="has-header">
        <ion-refresher on-refresh="refresh(true)" spinner="android"></ion-refresher>
        <div ng-if="productDetailList.length == 0 && productRankedList.length == 0">
            No products under this category
        </div>
        <div class="list card" ng-if="productRankedList.length != 0">
            <div class="item item-divider">
                Ranked Products ({{productRankedList.length}})
            </div>
            <div class="item" style="padding:1px !important" ng-repeat="item in productRankedList track by $index">
                <div class="row" style="padding:0">
                    <div class="col col-25 imgcontainer" ng-click="onProductClick(item)">
                        <img fallback-src="bag-item-1.png" ng-src="http://{{SERVER}}/product/image/{{item.id}}/1" />
                    </div>
                    <div class="col col-75">
                        <div class="row" style="padding:1px">
                            <div class="col col-80 item-text-wrap" style="padding:1px" ng-click="onProductClick(item)">
                                <h3>{{item.name | uppercase}}</h3>
                            </div>
                            <div class="col col-20" style="padding:1px;font-size:xx-large">
                                <i class="icon "
                                   style="float:right;"
                                   ng-class="isFavourite(item.id) === true ? 'ion-ios-timer':'ion-ios-timer-outline'"
                                   ng-click="toggleFavourite(item);$event.stopPropagation();">
                                </i>
                            </div>
                        </div>
                        <div class="row" style="padding:1px">
                            <div class="col col-80" style="padding:1px" ng-click="onProductClick(item)">
                                <span style="font-size:smaller">{{item.brand}}</span>
                            </div>
                        </div>
                        <div class="row" style="padding:1px">
                            <div class="col col-40" style="padding:1px;font-size: larger;color:#ef473a;" ng-click="onProductClick(item)">
                                <p><b>&#8377;</b>{{item.mrp}}</p>
                            </div>
                            <div class="col col-60" style="padding:1px">
                                <div style="float:right;">
                                    <i class="icon ion-ios-minus-outline"
                                       style="font-size: 2em;display:inline;"
                                       ng-click="qtyChanged(item,-1);$event.stopPropagation();">
                                    </i>
                                    <input type="number" class="qty-input"
                                           ng-model="item.qty"
                                           ng-change="qtyChanged(item,0)"
                                           ng-click="$event.stopPropagation();" />
                                    <i class="icon ion-ios-plus-outline"
                                       style="font-size: 2em;display:inline;"
                                       ng-click="qtyChanged(item,1);$event.stopPropagation();">
                                    </i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="list card" ng-if="productDetailList.length != 0">
            <div class="item item-divider">
                Category Products ({{productDetailList.length}})
            </div>
            <div class="item" style="padding:1px !important" ng-repeat="item in productDetailList track by $index">
                <div class="row" style="padding:0">
                    <div class="col col-25 imgcontainer" ng-click="onProductClick(item)">
                        <img fallback-src="bag-item-1.png" ng-src="http://{{SERVER}}/product/image/{{item.id}}/1" />
                    </div>
                    <div class="col col-75">
                        <div class="row" style="padding:1px">
                            <div class="col col-80 item-text-wrap" style="padding:1px" ng-click="onProductClick(item)">
                                <h3>{{item.name | uppercase}}</h3>
                            </div>
                            <div class="col col-20" style="padding:1px;font-size:xx-large">
                                <i class="icon "
                                   style="float:right;"
                                   ng-class="isFavourite(item.id) === true ? 'ion-ios-timer':'ion-ios-timer-outline'"
                                   ng-click="toggleFavourite(item);$event.stopPropagation();">
                                </i>
                            </div>
                        </div>
                        <div class="row" style="padding:1px">
                            <div class="col col-80" style="padding:1px" ng-click="onProductClick(item)">
                                <span style="font-size:smaller">{{item.brand}}</span>
                            </div>
                        </div>
                        <div class="row" style="padding:1px">
                            <div class="col col-40" style="padding:1px;font-size: larger;color:#ef473a;" ng-click="onProductClick(item)">
                                <p><b>&#8377;</b>{{item.mrp}}</p>
                            </div>
                            <div class="col col-60" style="padding:1px">
                                <div style="float:right;">
                                    <i class="icon ion-ios-minus-outline"
                                       style="font-size: 2em;display:inline;"
                                       ng-click="qtyChanged(item,-1);$event.stopPropagation();">
                                    </i>
                                    <input type="number" class="qty-input"
                                           ng-model="item.qty"
                                           ng-change="qtyChanged(item,0)"
                                           ng-click="$event.stopPropagation();" />
                                    <i class="icon ion-ios-plus-outline"
                                       style="font-size: 2em;display:inline;"
                                       ng-click="qtyChanged(item,1);$event.stopPropagation();">
                                    </i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
<style type="text/css">
    .suggestion-item {
        padding: 7px;
        border-left: none;
        border-right: none;
    }

    .item-content {
        background-color: burlywood;
    }

    .activated {
        color: red;
    }
</style>
