﻿
<ion-view>
    <div class="bar bar-header bar-assertive">
        <h1 class="title">Products</h1>
    </div>
    <ion-content class="has-header" scroll="false">
        <tab-slide-box>
            <div class="tsb-icons">
                <div class="tsb-ic-wrp">
                    <ion-scroll direction="x" class="tsb-hscroll">
                        <a href="javascript:;" class="{{cat.icon}}" ng-repeat="subseg in subsegments" on-finish-render="finishedRendering()">{{subseg.name}}</a>
                    </ion-scroll>
                </div>
            </div>
            <ion-slide-box show-pager="false" on-slide-changed="slideHasChanged($index)">
                <ion-slide ng-repeat="subseg in subsegments">
                    <ion-scroll direction="y" style="height:500px">
                        <div class="list card" style="padding:1px !important">
                            <div class="item" style="padding:1px !important" ng-repeat="item in subseg.products track by $index">
                                <div class="row" style="padding:0">
                                    <div class="col col-25 imgcontainer" ng-click="onProductClick(item)">
                                        <img fallback-src="bag-item-1.png" ng-src="http://{{SERVER}}/product/image/{{item.id}}/1" />
                                    </div>
                                    <div class="col col-75" style="text-align:left">
                                        <h3 style="color:black">{{item.name | uppercase}}</h3>
                                        <p>{{item.brand | uppercase}}</p>
                                        <p><b>&#8377;</b>{{item.mrp}} per {{item.unitOfMeasure}}</p>

                                        <i class="icon "
                                           style="position: absolute;top: 8%;right:2%;font-size: 2em;"
                                           ng-class="isFavourite(item.id) === true ? 'ion-ios-timer':'ion-ios-timer-outline'"
                                           ng-click="toggleFavourite(item)">
                                        </i>
                                        <input type="number" style="border-radius: 6px;position: absolute;right: 13%;bottom: 10%;width: 3em;" class="qty-input"
                                               ng-model="item.qty" ng-init="item.qty = returnQty(item)"
                                               ng-change="qtyChanged(item,0)" />
                                        <i class="icon ion-ios-minus-outline"
                                           style="position: absolute;right: 28%;font-size: 2em;bottom: 10%;"
                                           ng-click="qtyChanged(item,-1)">
                                        </i>
                                        <i class="icon ion-ios-plus-outline"
                                           style="position: absolute;right: 3%;font-size: 2em;bottom: 10%;"
                                           ng-click="qtyChanged(item,1)">
                                        </i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ion-scroll>
                </ion-slide>
            </ion-slide-box>
        </tab-slide-box>
    </ion-content>
</ion-view>
<style>
    .slider-slide h3 {
        color: #fff;
        margin-top: 10px;
    }

    .scroll {
        height: 100%;
    }

    .tabbed-slidebox .tsb-icons:after {
        display: none;
    }
</style>