﻿<ion-nav-bar class="bar-positive">
    <ion-nav-back-button class="button-clear" ng-click="goToBack()">
        <i class="ion-arrow-left-c" ></i> Back
    </ion-nav-back-button>
</ion-nav-bar>
<ion-view view-title="Product Search">
    <div class="bar bar-subheader bar-assertive item-input-inset">
        <label class="item-input-wrapper">
            <i class="icon ion-ios-search placeholder-icon"></i>
            <input type="search" placeholder="Search" ng-change="searchSuggestion()" ng-model="data.searchkey">
        </label>
    </div>
    <ion-content class="has-header has-subheader">
        <div class="list card" ng-if="showProductList" style="padding:1px !important">
            <div class="item" style="padding:1px !important" ng-repeat="item in productDetailList track by $index">
                <div class="row" style="padding:0">
                    <div class="col col-25 imgcontainer" ng-click="onProductClick(item)">
                        <img fallback-src="bag-item-1.png" ng-src="http://{{SERVER}}/product/image/{{item.id}}/1" />
                    </div>
                    <div class="col col-75">
                        <h3>{{item.name | uppercase}}</h3>
                        <p>{{item.brand | uppercase}}</p>
                        <p><b>&#8377;</b>{{item.mrp}} per {{item.unitOfMeasure}}</p>

                        <i class="icon "
                           style="position: absolute;top: 8%;right:2%;font-size: 2em;"
                           ng-class="isFavourite(item.id) === true ? 'ion-ios-timer':'ion-ios-timer-outline'"
                           ng-click="toggleFavourite(item)">
                        </i>
                        <input type="number" style="border-radius: 6px;position: absolute;right: 13%;bottom: 10%;width: 3em;" class="qty-input"
                               ng-model="item.qty" ng-init="item.qty = returnQty(item)"
                               ng-change="qtyChanged(item,0)" />
                        <i class="icon ion-ios-minus-outline"
                           style="position: absolute;right: 28%;font-size: 2em;bottom: 10%;"
                           ng-click="qtyChanged(item,-1)">
                        </i>
                        <i class="icon ion-ios-plus-outline"
                           style="position: absolute;right: 3%;font-size: 2em;bottom: 10%;"
                           ng-click="qtyChanged(item,1)">
                        </i>
                    </div>
                </div>
            </div>
        </div>
        <div class="list" ng-if="showSugg">
            <a class="item item-icon-left" ng-repeat="text in searchList" ng-click="suggestionClick(text); cached = false">
                <i class="icon" ng-class="data.cached ? 'ion-clock' : 'ion-android-more-horizontal' "></i>
                <span ng-bind-html="text | searchKeyfilter:data.searchkey"></span>
            </a>
        </div>
    </ion-content>
</ion-view>
<style>
    .activated {
        color:red;
    }
</style>