﻿<ion-nav-bar>
    <ion-nav-back-button>
    </ion-nav-back-button>
</ion-nav-bar>
<ion-view view-title="Product Detail">
    <ion-content class="has-header padding">
        <ion-refresher on-refresh="refresh(true)" spinner="android"></ion-refresher>
        <div class="list card">
            <div class="item item-text-wrap">
                <div class="row">
                    <div class="col-80">
                        <h2>{{product.name}}</h2>
                        <h3>{{product.brand}}</h3>
                    </div>
                </div>
            </div>
            <div class="item item-body">
                <ion-slide-box does-continue="true"
                               auto-play="false"
                               show-pager="true"
                               pager-click="changeSlide(index)">
                    <ion-slide ng-repeat="n in product.imageArray">
                        <img fallback-src="not-found.png" ng-src="http://{{SERVER}}/product/image/{{product.id}}/{{n}}" style="width:100%">
                    </ion-slide>
                </ion-slide-box>
            </div>
            <div class="item">
                <h3>Price</h3>
                <h2><b>&#8377;</b>{{product.mrp}}</h2>
            </div>
            <div class="item">
                <h3>Brand</h3>
                <p>{{product.brand}}</p>
            </div>
            <div class="item">
                <h3>Category</h3>
                <p>{{product.categoryName}}</p>
            </div>
            <div class="item">
                <h3>Segment</h3>
                <p>{{product.segmentName}}</p>
            </div>
            <div class="item">
                <h3>Subsegment</h3>
                <p>{{product.subsegmentName}}</p>
            </div>
            <div class="item item-text-wrap">
                <h3>Specification</h3>
                <p>{{product.specification}}</p>
            </div>
            <div class="item item-text-wrap">
                <h3>Primary Use</h3>
                <p>{{product.primaryUse}}</p>
            </div>
        </div>
    </ion-content>
</ion-view>