.spinner {
    display: none;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    z-index: 300;
}

.spinnerBackground {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    background-color: #000000;
    opacity: 0.3;
}

.spinnerSpinner {
    position: absolute;
    left: 50%;
    margin-left: -40px;
    margin-top: -40px;
    top: 50%;
    width: 80px;
    height: 80px;
}

    .spinnerSpinner svg {
        width: 80px;
        height: 80px;
        stroke: #b59751;
    }

.imgcontainer {
    width: 100%;
    height: auto;
}

    .imgcontainer img {
        width: 100%;
    }

.list .item.item-accordion {
    line-height: 38px;
    padding-top: 0;
    padding-bottom: 0;
    transition: 0.09s all linear;
}

    .list .item.item-accordion.ng-hide {
        line-height: 5px;
    }

    .list .item.item-accordion.ng-hide-add,
    .list .item.item-accordion.ng-hide-remove {
        display: block !important;
    }

.qty-input {
    background-color: lightblue;
    width: 30px;
    text-align: center;
    border-radius: 6px;
    min-width: 3em;
    margin-right: 1px;
    margin-left: 1px;
    display: inline!important;
    vertical-align: top!important;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
    border-radius: 5px;
}

.message-box {
    text-align: center;
    font-size: medium;
    padding: 17px;
    margin-bottom: 17px;
    border-radius: 6px;
    background-color: white;
}

.banner {
    border-radius: 6px;
}

.image-button {
    border-radius: 6px;
    margin-left: 7px;
    margin-right: 7px;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: white;
}

    .image-button:first-child {
        margin-left: 0;
    }

    .image-button:last-child {
        margin-right: 0;
    }

    .image-button a {
        color: #000000;
        text-decoration: none;
    }

        .image-button a img {
            width: 100%;
        }

    .image-button .name {
        text-decoration: none;
        text-align: center;
    }

.category {
    background-color: #ECECEC;
    border-radius: 5px;
    font-size: larger;
    text-align: center;
    margin: 3px;
    padding: 9px;
    white-space: nowrap;
}

    .category.selected {
        background-color: #EF473A;
        color: white;
        font-size: large;
    }

@-webkit-keyframes rotate {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
    }
}

div.loading i {
    -webkit-animation-name: rotate;
    -webkit-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -webkit-ANIMATION-timing-function: cubic-bezier(0.59, -0.81, 0.38, 1.67);
    position: absolute;
    font-size: 4em;
    left: 42%;
    color: #EF473A;
}

.wide-as-needed {
    overflow: scroll;
    white-space: nowrap;
}
