﻿/** Styling for the username field **/
label.item.has-error {
    border-bottom: 2px solid red;
}

/** Styling for the password field when an error exists**/
label.item.has-error-lr {
    border-left: 2px solid red;
    border-right: 2px solid red;
}

/** Styling for the password field when an error has been resolved**/
label.item.valid-lr {
    border-left: 2px solid green;
    border-right: 2px solid green;
}

/** Styling for the error text and container **/
.form-errors {
    margin: 5px 0;
}

.form-error {
    padding: 2px 0 2px 16px;
    color: red;
}

.sr-button-block {
    background-color: #F15D35;
    left: 5%;
    width: 90%;
}

#conn-err-img{
     position: absolute;
     bottom: 1%;
     width: 10%;
     right: 1px;
     display:none;
     z-index: 1002;
}

.alertbtn {
    width: 100%;
    height: 33px;
    background-color: #F15D35;
    color: white;
    border-radius: 5px;
}
