﻿<ion-view view-title="Settings">
    <ion-header-bar class="bar-header bar-dark">
        <div class="buttons">
            <button class="button button-clear icon ion-bag"></button>
        </div>
        <div class="title">Settings</div>
    </ion-header-bar>
    <ion-content class="padding">
        <ion-refresher on-refresh="refresh(true)" spinner="android"></ion-refresher>
        <div class="list">
            <a class="item item-icon-left" href="#/app/terms">
                <i class="icon ion-android-list"></i>
                Terms &amp; conditions
            </a>
            <a class="item item-icon-left" href="#/app/contactus">
                <i class="icon ion-android-textsms"></i>
                Contact Us
            </a>
            <a class="item item-icon-left" href="#/app/retailerprofile">
                <i class="icon ion-pinpoint"></i>
                Defaulr retailer details
            </a>
        </div>
        <div class="button button-assertive button-block item-icon-left" ng-click="resetData()">
            <i class="icon ion-log-out"></i>
            Logout
        </div>
    </ion-content>
</ion-view>