﻿<ion-view>
    <ion-nav-buttons side="right">
        <div><a href="#/app/retailerprofile">
    <img fallback-src="not-found.png" style="height: 2.6em;border: solid;border-width: 1px;border-radius: 5px;" src={{retailerImageUrl}} />    
</a></div>
        <div>
            <a style="color: white;" class="button button-icon icon ion-ios-search-strong" href="#/app/productSearch"></a>
        </div>
    </ion-nav-buttons>
    <ion-content class="has-header padding" style="background-color:#E0DDDD">
        <div class="item-text-wrap message-box">
            {{messageToShow.message}}
        </div>

        <ion-slide-box class="banner"
                       does-continue="true"
                       auto-play="true"
                       slide-interval="3000"
                       show-pager="true"
                       pager-click="changeSlide(index)" style="height:325px;border:solid; border-color: white;border-width: thin;">
            <ion-slide ng-repeat="image in imageArray" ng-click="showBannerDetails(image)">
                <img fallback-src="not-found.png" ng-src="{{ image.thumbnailURL}}" style="width:100%;height:308px;margin:auto;display:block;border-radius:6px">
            </ion-slide>
        </ion-slide-box>

        <div class="row" style="padding:0">
            <div class="col image-button">
                <a href="#/app/dailyneeds">
                    <img src="daily.png" />
                    <div class="name">
                        Daily Needs
                    </div>
                </a>
            </div>
            <div class="col image-button">
                <a href="#/app/orders">
                    <img src="orders-blue.png" />
                    <div class="name">
                        Order History
                    </div>
                </a>
            </div>
        </div>
        <div class="row" style="padding:0">
            <div class="col image-button">
                <a href="#/app/wishlist">
                    <img src="wishlist-heart.png" />
                    <div class="name">
                        Wishlist
                    </div>
                </a>
            </div>
            <div class="col image-button">
                <a href="#/app/reminder">
                    <img src="reminders-icon.png" />
                    <div class="name">
                        Reminder List
                    </div>
                </a>
            </div>
            <div class="col image-button">
                <a href="#/app/template">
                    <img src="folder.png" />
                    <div class="name">
                        Order Templates
                    </div>
                </a>
            </div>

        </div>

        <div class="row" style="padding:0">
            <div class="col image-button" ng-click="getsmiley()">
                <a href="#" class="item item-icon-left" style="border:0">
                    <i class="icon ion-happy"></i>
                    Satisfied!
                </a>
            </div>
            <div class="col image-button">
                <a href="#/app/feedback" class="item item-icon-left" style="border:0">
                    <i class="icon ion-edit"></i>
                    Feedback
                </a>
            </div>
        </div>
    </ion-content>

</ion-view>
<style type="text/css">
    .parent {
        position: relative;
    }

    .child {
        position: absolute !important;
        bottom: 0;
        height: 20px;
    }
</style>
