﻿<ion-view view-title="Templates">
    <ion-content>
        <div class="list">
            <div class="item item-divider">
                Templates
            </div>
            <a class="item item-icon-left" on-hold="openTemplateOptions($event,temp)" ng-click="gotoTemplateDetails(temp)" ng-repeat="temp in templates">
                <i class="icon ion-android-clipboard"></i>
                {{temp.name}}
                <span class="item-note">
                    {{temp.items.length}}
                </span>
            </a>
            <div ng-if="templates.length == 0" style="padding:5px;text-align:center;">
                <h4>No Templates saved. Create templates from order history.</h4>
            </div>
        </div>
    </ion-content>
</ion-view>

<script id="template-option.html" type="text/ng-template">
    <ion-popover-view style="height: 8.2em;width: 11.2em;">
        <ion-content>
            <div class="list">
                <a class="item item-icon-left" ng-click="renameItem();">
                    <i class="icon ion-code"></i>
                    Rename
                </a>
                <a class="item item-icon-left" ng-click="deleteItem();">
                    <i class="icon ion-android-delete"></i>
                    Delete
                </a>
            </div>
        </ion-content>
    </ion-popover-view>
</script>