﻿<ion-view view-title="Initial">
    <ion-content href="#/retailers" scroll="false" style="height:100%">
        <img src="eepl.png" class="sr-logo" />
        <a class="button button-assertive sr-button-block" href="#/login">
            CONTINUE
        </a>

        <a href="http://www.eepl.com" style="position:absolute;width:100%;text-align:center;top:36%">
            www.eepl.com
        </a>
        <span style="font-size: large;font-weight: bold;position:absolute;width:100%;text-align:center;top:79%" >
            GET STARTED
        </span>

    </ion-content>
</ion-view>
<style type="text/css">
    .sr-logo {
        width: 30%;
        left: 35%;
        top: 18%;
        position: absolute;
    }
</style>