﻿<ion-view view-title="Wishlist">
    <ion-content class="padding">
        <form>
            <h3>Place your wishlist</h3>
            <textarea placeholder="Type here" rows="11" cols="40" maxlength="450" ng-model="data.whishlistContent"></textarea>
            <button class="button button-block button-assertive" ng-click="submit()">
                Submit Wishlist
            </button>
        </form>
    </ion-content>
</ion-view>