﻿<ion-view view-title="Developer View">
    <ion-header-bar class="bar-header bar-dark">
        <div class="buttons">
            <button class="button button-clear icon ion-bag"></button>
        </div>
        <div class="title">Settings</div>
    </ion-header-bar>
    <ion-content class="padding">
        <ion-refresher on-refresh="refresh(true)" spinner="android"></ion-refresher>
        <div class="card">
            <div class="item item-divider">
                Host Name
            </div>
            <ion-radio class="item" ng-model="data.choice" value="eepls.tk:8080" ng-change="change(data.choice)">
                eepls (eepls.tk:8080)
            </ion-radio>
            <ion-radio class="item" ng-model="data.choice" value="ablrz.tk:8080" ng-change="change(data.choice)">
                IBM (ablrz.tk:8080)
            </ion-radio>
        </div>
        <ion-list>
            <h3>
                Localstorage Values
            </h3>
            <p ng-repeat="item in localStoragePair">
                <b>{{item.key}}</b> : {{item.value}}
            </p>
        </ion-list>
    </ion-content>
</ion-view>