﻿<ion-view view-title="Change location">
    <ion-header-bar class="bar-header bar-dark">
        <div class="buttons">
            <button class="button button-clear icon ion-bag"></button>
        </div>
        <div class="title">Change location</div>
    </ion-header-bar>
    <ion-content>
        <div id="map" data-tap-disabled="true"></div>
        <div style="display:block;bottom:0;position:absolute;width:100%">
            <a class="item row" ng-click="showCurrentLocation()">
                <div class="col col-40" style="text-align:right">Current Location:</div>
                <div class="col"><b>{{marker._lat| number:4}}, {{marker._lng | number:4}}</b></div>
            </a>
            <a class="item row" ng-click="showSavedLocation()">
                <div class="col col-40" style="text-align:right">Saved Location:</div>
                <div class="col"><b>{{profile.latitude| number:4}}, {{profile.longitude | number:4}}</b></div>
            </a>
            <button style="margin:0" class="button button-block button-assertive" ng-click="saveLocation()">Save Location</button>
        </div>
    </ion-content>
</ion-view>
<style>
    .scroll {
        height: 100%;
    }

    #map {
        width: 100%;
        height: 80%;
    }
</style>