﻿<ion-view view-title="Non-daily Needs">
    <ion-content class="has-header padding" scroll="false">
        <h3 ng-show="!!data.categoryTree && data.categoryTree.length==0">No Categories</h3>
        <ion-scroll direction="x" ng-if="view.category">
            <div class="row">
                <div class="category" ng-repeat="cat in data.categoryTree" ng-click="loadSegments(cat,$event)">
                    {{cat.name}}
                </div>
            </div>
        </ion-scroll>
        <ion-scroll direction="x" ng-if="view.segments" delegate-handle="segementScrollHandle">
            <div class="row">
                <div class="category" ng-repeat="seg in segments" ng-click="loadSubSegments(seg,$event)">
                    {{seg.name}}
                </div>
            </div>
        </ion-scroll>
        <ion-scroll direction="x" ng-if="view.subsegments" delegate-handle="subsegmentScrollHandle">
            <div class="row">
                <div class="category" ng-repeat="subseg in subsegments" ng-click="loadProducts(subseg,$event)">
                    {{subseg.name}}
                </div>
            </div>
        </ion-scroll>
        <ion-scroll direction="y" style="height:67%" ng-if="view.products">
            <div class="list">
                <div class="item" style="padding:1px !important" ng-repeat="item in products track by $index">
                    <div class="row" style="padding:0">
                        <div class="col col-25 imgcontainer" ng-click="onProductClick(item)">
                            <img fallback-src="bag-item-1.png" ng-src="http://{{SERVER}}/product/image/{{item.id}}/1" />
                        </div>
                        <div class="col col-75">
                            <div class="row" style="padding:1px">
                                <div class="col col-80 item-text-wrap" style="padding:1px" ng-click="onProductClick(item)">
                                    <h3>{{item.name | uppercase}}</h3>
                                </div>
                                <div class="col col-20" style="padding:1px;font-size:xx-large">
                                    <i class="icon "
                                       style="float:right;"
                                       ng-class="isFavourite(item.id) === true ? 'ion-ios-timer':'ion-ios-timer-outline'"
                                       ng-click="toggleFavourite(item);$event.stopPropagation();">
                                    </i>
                                </div>
                            </div>
                            <div class="row" style="padding:1px">
                                <div class="col col-80" style="padding:1px" ng-click="onProductClick(item)">
                                    <span style="font-size:smaller">{{item.brand}}</span>
                                </div>
                            </div>
                            <div class="row" style="padding:1px">
                                <div class="col col-40" style="padding:1px;font-size: larger;color:#ef473a;" ng-click="onProductClick(item)">
                                    <p><b>&#8377;</b>{{item.sellingprice}}</p>
                                </div>
                                <div class="col col-60" style="padding:1px">
                                    <div style="float:right;">
                                        <i class="icon ion-ios-minus-outline"
                                           style="font-size: 2em;display:inline;"
                                           ng-click="qtyDone(item,-1);$event.stopPropagation();">
                                        </i>
                                        <input type="number" class="qty-input"
                                               ng-model="item.qty"
                                               ng-change="qtyChanged(item,0)"
                                               ng-blur="qtyDone(item,0)"
                                               ng-click="item.qty=null;$event.stopPropagation();" />
                                        <i class="icon ion-ios-plus-outline"
                                           style="font-size: 2em;display:inline;"
                                           ng-click="qtyDone(item,1);$event.stopPropagation();">
                                        </i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ion-scroll>
    </ion-content>
</ion-view>