﻿<ion-view>
    <ion-content>

        <div class="list card">
            <div class="item item-avatar" style="padding-left:75px;min-height:119px">
                <img fallback-src="not-found.png" style="left:8px;max-width:72px;max-height:90px" src={{retailerImageUrl}}>
                <h2 style="margin:32px 0px 0px 15px;">{{data.retailer.storename}}</h2>
            </div>
            <div class="item item-body">
                <div class="row">
                    <div class="col-25 header">
                        Name
                    </div>
                    <div class="col-75">
                        {{data.retailer.name}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-25 header">
                        Phone
                    </div>
                    <div class="col-75">
                        {{data.retailer.retailerPhone[0].phoneNumber}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-25 header">
                        Email
                    </div>
                    <div class="col-75">
                        {{data.retailer.mailId}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-25 header">
                        Street
                    </div>
                    <div class="col-75 item-text-wrap">
                        {{data.retailer.storeaddress.street}}
                    </div>
                </div>
            </div>

        </div>
    </ion-content>
</ion-view>
<style>
    .header {
        text-align: right;
        padding-right: 1em;
        font-weight: bold;
    }
    .row {
        padding:14px;
    }
</style>