﻿<ion-view view-title="Registration">
    <ion-nav-bar class="bar-assertive">
        <ion-nav-back-button>
        </ion-nav-back-button>
        <ion-nav-buttons side="right">
            <button class="button button-icon icon ion-clipboard"></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content class="padding">
        <div class="list">
            <label class="item item-input">
                <input type="number" placeholder="Mobile No" ng-model="form.mobileNo" disabled>
            </label>
            <label class="item item-input">
                <input type="text" placeholder="Name" ng-model="form.name" ng-change="form.name = textChange(form.name)">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="Email" ng-model="form.email">
            </label>
          <!--  <label class="item item-input">
                <input type="password" placeholder="Password" ng-model="form.password">                
            </label>

            <label class="item button-bar" style="padding:0;">
        <input class="button" type="{{isVisible?'text':'password'}}" placeholder="Password" ng-model="form.password">
        <button class="button icon ion-ios-eye" ng-click="isVisible? isVisible = 'false': isVisible = 'true';"></button>
    </label>-->


        </div>

        <div class="list">
            <div class="button-bar" style="border:#ddd; line-height:15px">
                <ion-radio class="button item item-input" style="border-color:#ddd;line-height:18px;" ng-model="form.gender" ng-value="'M'">Male</ion-radio>
                <ion-radio class="button item item-input" style="border-color:#ddd;line-height:18px;" ng-model="form.gender" ng-value="'F'">Female</ion-radio>
            </div>
            <label class="item item-input">
                <input type="text" placeholder="Date of Birth (dd-MM-yyyy)" ng-model="form.dateOfBirth" ng-click="getDate()">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="Street" ng-model="form.street" ng-change="form.street = textChange(form.street)">
            </label>
            <label class="item item-input">
                <input type="number" placeholder="Zipcode" ng-model="form.zipcode">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="City" ng-model="form.city" disabled="disabled">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="State" ng-model="form.state" disabled="disabled">
            </label>
        </div>



        <div class="row">
            <div class="col col-20"> 
                <ion-checkbox ng-model="checked" class="checkbox-assertive" style="border-color:#fafafa; padding-left:0px">
                </ion-checkbox>
            </div>
            <div class="col">
                I have read and understood the <br />
                <a href="#app/terms" class="text-center">
                    Terms and Conditions
                </a> 
                and have <br /> agreed to the same
            </div>

        </div>


        <button class="button button-block button-assertive" ng-click="register()" ng-disabled="!checked">
            Register
        </button>
    </ion-content>
</ion-view>
<style type="text/css">
    .error-tag {
        color: red;
    }
</style>