﻿<ion-nav-bar>
    <ion-nav-back-button>
    </ion-nav-back-button>
</ion-nav-bar>
<ion-view view-title="Banner Details">
    <ion-content class="has-header padding">
        <ion-refresher on-refresh="refresh(true)" spinner="android"></ion-refresher>

        <ion-scroll zooming="true" direction="xy" style="height: 595px">
            <img on-tap="zoom()" class="full-image" fallback-src="not-found.png" ng-src="{{id}}">  
        </ion-scroll>

       <!-- <div class="item item-body">
            <img on-tap="zoom()" class="full-image" fallback-src="not-found.png" ng-src="{{id}}">            
        </div>-->
    </ion-content>
</ion-view>