﻿<ion-view view-title="Login">
    <ion-content style="text-align:center" class="padding">
        <img src="eepl.png" class="sr-logo" />
        <div class="list list-inset" style="position: relative;top: 100px;">
            <label class="item item-input">
                <input type="number" ng-model="data.phone" placeholder="Phone">
            </label>
            <label class="item item-input">
                <input type="password" ng-model="data.password" placeholder="Password"/>
            </label>
        </div>
        <button class="button button-block button-assertive" 
                ng-disabled="disable" 
                ng-init="disable = false"
                ng-click="proceed()" 
                style="position: relative;top: 100px;">
            Proceed
        </button>
        <button class="button button-block button-stable" ng-click="register()" style="position:relative;top:100px">
            No Account? Register.
        </button>
        <button class="button button-clear button-assertive" ng-click="forgotPassword()" style="position:relative;top:100px">
            Forgot Password?
        </button>
    </ion-content>
</ion-view>
<style type="text/css">
    .sr-logo {
        top: 89px;
        width: 30%;
        position: relative;
    }
</style>
