﻿
<ion-view view-title="Profile">
    <ion-header-bar class="bar-header bar-royal">
        <div class="title">Profile View</div>
        <div class="buttons">
            <button class="button button-clear icon ion-clipboard"></button>
        </div>
    </ion-header-bar>
    <ion-content class="padding">
        <div class="list" style="text-align:center;border:none">
            <div class="item item-body" style="border-width:0px">
                <img class="full-image" style="width:100%;height:100%;border-radius:50%" id="profileImage" src="{{profileData.consumerImageUrl}}" fallback-src="user-male.png">
            </div>

            <table border="0">
                <tr>
                    <td >
                        <div class="item" style="border-width:0px;text-align:left">
                            <p style="font-weight:bolder">Name</p>
                        </div>
                    </td>
                    <td>
                        <div class="item" style="border-width:0px;text-align:left">
                            <p ng-bind="profileData.name" style="overflow:unset"></p>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="item" style="border-width:0px;text-align:left">
                            <p style="font-weight:bolder">Gender</p>
                        </div>
                    </td>
                    <td>
                        <div class="item" style="border-width:0px;text-align:left">
                            <p ng-bind="profileData.gender" style="overflow:unset"></p>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="item" style="border-width:0px;text-align:left">
                            <p style="font-weight:bolder">Phone No</p>
                        </div>
                    </td>
                    <td>
                        <div class="item" style="border-width:0px;text-align:left">
                            <p ng-bind="profileData.phoneNumber != null? profileData.phoneNumber:'No phone number'"></p>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="item" style="border-width:0px;text-align:left">
                            <p style="font-weight:bolder">Date of Birth</p>
                        </div>
                    </td>
                    <td>
                        <div class="item" style="border-width:0px;text-align:left">
                            <p ng-bind="profileData.date_of_birth"></p>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="item" style="border-width:0px;text-align:left">
                            <p style="font-weight:bolder">Email</p>
                        </div>
                    </td>
                    <td>
                        <div class="item" style="border-width:0px;text-align:left">
                            <p ng-bind="profileData.mail_id"></p>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="item" style="border-width:0px;text-align:left">
                            <p style="font-weight:bolder">Address</p>
                        </div>
                    </td>
                    <td>
                        <div class="item item-text-wrap" style="border-width:0px;text-align:left">
                            <p ng-bind="profileData.address"></p>
                        </div>
                    </td>
                </tr>
            </table>
            <a class="button button-assertive button-block item-icon-left" href="#/app/editprofile">
                <i class="icon ion-wrench"></i>
                Edit Profile
            </a>
        </div>
    </ion-content>
</ion-view>