﻿<ion-view view-title="Contact Us">
    <ion-content>
        <div style="text-align:center;padding-top:48%">
            <img src="eepl.png" style="width:30%;"/>
            <!--<h3>www.eepls.com</h3>-->
            <h3>team@eepls.com</h3>
            <!--<h3>080-2323 3232</h3>-->
        </div>
    </ion-content>
   <!-- <div class="ssg-footer" onclick="window.open('http://www.softserveglobal.com', '_system', 'location=yes'); return false;">
        <div class="row">
            <div class="col">
                <span class="ssg-poweredby">Powered by </span>
            </div>
            <div class="col">
                <img class="ssg-img" src="ssg.png" />
            </div>
        </div>
    </div> -->
</ion-view>
<style>
    .ssg-footer {
        z-index: 1000;
        position: absolute;
        bottom: 0;
        background-color: rgba(139, 171, 93, 0.19);
        width: 100%;
        height: 5%;
    }

    .ssg-img {
        width: 31%;
        left: 50%;
        position: absolute;
        bottom: 0;
    }

    .ssg-poweredby {
        font-size: smaller;
        position: absolute;
        right: 50%;
        bottom: 20%;
        font-weight: bold;
        color: #308A41;
    }
</style>