﻿<ion-view view-title="EEPL">    
    <ion-nav-bar class="bar-assertive">
        <ion-nav-buttons side="left">
            <img style="height: 2.6em;border: solid;border-width: 1px;border-radius: 5px;" src="eepl.png" />
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content class="padding">
        <div>

            <ul class="list" style="border:none;white-space:normal">
                <li class="item" style="border:none;white-space:normal">
                    <p style="white-space:normal">There are necessary upgrades to the application. Please allow us to install them to serve you better.</p>
                </li>
                <li class="item" style="border:none">                   
                            
                                <button class="button button-assertive" style="font-weight:bold" ng-click="downloadLatestVersion()">
                                    Update Now
                                </button>
                           
                </li>
                
            </ul>
        </div>
    </ion-content>
</ion-view>