﻿<ion-nav-bar class="bar-positive">
    <ion-nav-back-button class="button-clear">
        <i class="ion-arrow-left-c"></i> Back
    </ion-nav-back-button>
</ion-nav-bar>
<ion-view view-title="My Cart">
    <ion-content cache-view="false" class="has-header">
        <ion-refresher on-refresh="refresh(true)" spinner="android"></ion-refresher>
        <div ng-if="displayProductDetailList.length==0" style="text-align:center">
            <img src="Basket_Empty.png" style="padding-top: 55%;width: 24%;" />
            <h3>Cart is empty</h3>
            <a class="button button-block button-assertive" href="#/app/productSearch">Start adding items</a>
        </div>
        <div class="list card" ng-if="displayProductDetailList.length != 0 ">
            <div class="item" style="padding:1px !important" ng-repeat="item in displayProductDetailList | orderBy:'name'">
                <div class="row" style="padding:0">
                    <div class="col col-25 imgcontainer" ng-click="onProductClick(item)">
                        <img fallback-src="bag-item-1.png" ng-src="http://{{SERVER}}/product/image/{{item.id}}/1" />
                    </div>
                    <div class="col col-75">
                        <div class="row" style="padding:1px">
                            <div class="col col-80 item-text-wrap" style="padding:1px" ng-click="onProductClick(item)">
                                <h3>{{item.name}}</h3>
                            </div>
                            <div class="col col-20" style="padding:1px;font-size:xx-large">
                                <i class="icon "
                                   style="float:right;"
                                   ng-class="isFavourite(item.id) === true ? 'ion-ios-close':'ion-ios-close-outline'"
                                   ng-click="item.qty=1;qtyDone(item,-1);checkQty();$event.stopPropagation();">
                                </i>
                            </div>
                        </div>
                        <div class="row" style="padding:1px">
                            <div class="col col-80" style="padding:1px" ng-click="onProductClick(item)">
                                <span style="font-size:smaller">{{item.brand}}</span>
                            </div>
                        </div>
                        <div class="row" style="padding:1px">
                            <div class="col col-40" style="padding:1px;font-size: larger;color:#ef473a;" ng-click="onProductClick(item)">
                                <p><b>&#8377;</b>{{item.sellingprice}}</p>
                            </div>
                            <div class="col col-60" style="padding:1px">
                                <div style="float:right;">
                                    <i class="icon ion-ios-minus-outline"
                                       style="font-size: 2em;display:inline;"
                                       ng-click="qtyDone(item,-1);checkQty();$event.stopPropagation();">
                                    </i>
                                    <input type="number" class="qty-input"
                                           ng-model="item.qty" ng-init="item.qty = returnQty(item)"
                                           ng-change="qtyChanged(item,0);"
                                           ng-blur="qtyDone(item,0);checkQty();"
                                           ng-click="item.qty=null;$event.stopPropagation();" />
                                    <i class="icon ion-ios-plus-outline"
                                       style="font-size: 2em;display:inline;"
                                       ng-click="qtyDone(item,1);checkQty();$event.stopPropagation();">
                                    </i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="height:5em">
        </div>
    </ion-content>
    <div class="order-place-button" ng-if="displayProductDetailList.length!=0">
        <div style="width:100%;padding:4px;text-align:center">
            <span style="display:block;">Indicative Total: <b>&#8377; {{grandTotal|number:2}}</b></span>
            <span style="display:block;">Retailer: <b>{{defaultRetailer}}</b></span>
        </div>
        <button class="button button-full button-assertive" ng-click="placeOrder()">
            Place Order
        </button>
    </div>
</ion-view>
<style>
    .order-place-button {
        position: absolute;
        display: block;
        background-color: #f1f1f1;
        box-shadow: #c5c5c5 3px 2px;
        bottom: 0;
        margin: 2%;
        border-radius: 6px;
        z-index: 1000;
        width: 96%;
    }

        .order-place-button .button {
            margin: auto;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
        }
</style>